# site info
PORT=
SITE_TITLE=
SITE_URL=
LOGO_PATH=

# server config
# Allowed values: development, production
NODE_ENV=
# Allowed values: http, https
SERVER_MODE=
SERVER_NAME=

# ssl info
SSL_KEY_PATH=
SSL_CERT_PATH=
SSL_CA_PATH=

# mongodb
MONGO_URI=

# aws s3 config
AWS_S3_ACCESS_KEY_ID=
AWS_S3_SECRET_ACCESS_KEY=
AWS_S3_REGION=
AWS_S3_BUCKET=
AWS_S3_BASE=
AWS_S3_SECURE=
REMOVE_S3_CREDENTIALS=

# server logs
# Allowed values for log level: error, warn, info, verbose, debug, silly
LOG_LEVEL=
MONGOOSE_DEBUG=
LOG_REQUESTS=
EXPOSE_SWAGGER=

# e-mail config
# Allowed values: sendgrid, smtp
MAIL_SERVICE=
FROM_MAIL=
SENDGRID_API_KEY=
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
TLS_CHECK=
SMTP_SERVICE=
SMTP_USERNAME=
SMTP_PASSWORD=

# sms config
# Allowed values: twilio
SMS_SERVICE=
FROM_MOBILE=
TWILIO_SID=
TWILIO_AUTH_TOKEN=
MSG91_AUTH_TOKEN=


# bcrypt config
BCRYPT_ITERATIONS=

# jwt
JWT_SECRET=

# encryption
SECRET_ENCRYPTION_KEY=

# session config (
# PREVENT_LOGIN_ON_FAILED_ATTEMPTS_TILL (in minutes)
VALIDATE_ACCESSING_DOMAIN=
IS_ANY_OTHER_DOMAINS_ALLOWED=
VALIDATE_SESSION=
VALIDATE_PERMISSION=
SESSION_SECRET=
SESSION_VALIDITY_DAYS=
ALLOWED_FAILED_LOGIN_ATTEMPTS=
PREVENT_LOGIN_ON_FAILED_ATTEMPTS_TILL=

# rate imit config
GET_REQUEST_RATE_WINDOW_MINUTES=
GET_REQUEST_RATE_LIMIT=
POST_REQUEST_RATE_WINDOW_MINUTES=
POST_REQUEST_RATE_LIMIT=
PUT_REQUEST_RATE_WINDOW_MINUTES=
PUT_REQUEST_RATE_LIMIT=
PATCH_REQUEST_RATE_WINDOW_MINUTES=
PATCH_REQUEST_RATE_LIMIT=
DELETE_REQUEST_RATE_WINDOW_MINUTES=
DELETE_REQUEST_RATE_LIMIT=

# otp config
OTP_VALIDITY_MINUTES=

#redis config
REDIS_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_TLS=

#setu
CLIENT_ID=
CLIENT_SECRET=
SETU_ENV=
PRODUCT_INSTANCE_ID=

#OpenAi
OPENAI_API_KEY=



