name: Deploy to EC2

on:
  push:
    branches:
        - DEVELOP


jobs: 
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: checkout code
        uses: actions/checkout@v3

      - name: use node js
        uses: actions/setup-node@v3
        with:
          node-version: 18

        
      - name: install dependencies
        run: npm install

      - name: build project
        run: npm run build

      - name: deploy to EC2
        uses: appleboy/ssh-action@master
        with: 
          host: ${{secrets.EC2_HOST}}
          username: ubuntu
          key: ${{secrets.EC2_SSH_KEY}}
          script: |
            cd /home/ubuntu/chanakya_llm_BE
            git pull origin prod
            npm install
            npm run build
            pm2 reload all